In [1]:
pip install beautifulsoup4 requests

Requirement already satisfied: beautifulsoup4 in /Users/suiumkanulanbek/.pyenv/versions/3.11.8/lib/python3.11/site-packages (4.12.3)
Requirement already satisfied: requests in /Users/suiumkanulanbek/.pyenv/versions/3.11.8/lib/python3.11/site-packages (2.32.3)
Requirement already satisfied: soupsieve>1.2 in /Users/suiumkanulanbek/.pyenv/versions/3.11.8/lib/python3.11/site-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/suiumkanulanbek/.pyenv/versions/3.11.8/lib/python3.11/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/suiumkanulanbek/.pyenv/versions/3.11.8/lib/python3.11/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/suiumkanulanbek/.pyenv/versions/3.11.8/lib/python3.11/site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/suiumkanulanbek/.pyenv/versions/3.11.8/lib/python3.11/site-packages (from requests) (2024.12.14)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
from bs4 import BeautifulSoup
import requests

In [13]:
url = "https://business.columbia.edu/financial-aid/costs/ms-programs"
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    print("Page fetched successfully!")
else:
    print("Failed to fetch page")

Page fetched successfully!

In [14]:
soup = BeautifulSoup(response.text, "html.parser")

In [15]:
title = soup.title.text  # Get the title of the page
print(title)

MS Programs | Columbia Business School

In [16]:
table = soup.find("table", {"id": "example"})

In [17]:
table = soup.find("table")

rows = table.find_all("tr")

headers = [header.text.strip() for header in rows[0].find_all("th")]
data = []


for row in rows[1:]:
    cells = row.find_all("td")
    data.append([cell.text.strip() for cell in cells])

print("Headers:", headers)
for row in data:
    print(row)

Headers: ['Item', 'Year 1', 'Estimated Third Term']
['$56,584', '$28,292']
['$2,697', '$1,296']
['$4,955', '$1,888']
['$1,250', '$625']
['$27,396', '$12,176']
['$3,177', '$1,412']
['$1,323', '$588']
['$97,382', '$46,277']

In [18]:
import csv

In [19]:
filename = "scraped.csv"

with open(filename, 'w', newline='', encoding='utf-8') as csvfile:
    csvwriter = csv.writer(csvfile)
    
    if headers:
        csvwriter.writerow(headers)
    
    for row in data:
        csvwriter.writerow(row)

print(f"Data has been saved to {filename}")

Data has been saved to scraped.csv

In [20]:
import pandas as pd

In [23]:
df = pd.read_csv('scraped.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item                  8 non-null      object
 1   Year 1                8 non-null      object
 2   Estimated Third Term  0 non-null      float64
dtypes: float64(1), object(2)
memory usage: 324.0+ bytes

In [24]:
df.describe()

       Estimated Third Term
count                   0.0
mean                    NaN
std                     NaN
min                     NaN
25%                     NaN
50%                     NaN
75%                     NaN
max                     NaN